@model Lab.Application.DTOs.BookDTO

<div class="container mt-5">
    <h2>Book Details</h2>

    <dl class="row mt-4">
        <dt class="col-sm-2">Title</dt>
        <dd class="col-sm-10">@Model.Title</dd>

        <dt class="col-sm-2">Price</dt>
        <dd class="col-sm-10">@Model.Price</dd>

        <dt class="col-sm-2">GenreName</dt>
        <dd class="col-sm-10">@Model.GenreName</dd>

        <dt class="col-sm-2">Catalogs</dt>
        <dd class="col-sm-10">@string.Join(", ", Model.CatalogTitles)</dd>
    </dl>

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-primary">Edit</a>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
