@model IEnumerable<Lab.Application.DTOs.CartDTO>

<div class="container mt-5">
    <h2 class="mb-4">Carts</h2>

    <a class="btn btn-primary mb-3" asp-action="Create">Create New Cart</a>

    <table class="table table-hover table-bordered align-middle">
        <thead class="table-dark">
            <tr>
                <th>User</th>
                <th>Total Price</th>
                <th>Status</th>
                <th>Created Date</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.User?.Username</td>
                    <td>@item.TotalPrice</td>
                    <td>@item.Status</td>
                    <td>@item.CreatedDate.ToShortDateString()</td>
                    <td class="text-center">
                        <a class="btn btn-sm btn-info text-white" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
