@model IEnumerable<Lab.Application.DTOs.GenreDTO>

<div class="container mt-5">
    <h2 class="mb-4">Genre</h2>

    <a class="btn btn-primary mb-3" asp-action="Create">Create New Catalog</a>

    <table class="table table-hover table-bordered align-middle">
        <thead class="table-dark">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Is Active</th>
                <th scope="col" class="text-center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var genre in Model)
            {
                <tr>
                    <td>@genre.Name</td>
                    <td>@genre.Description</td>
                    <td>@genre.IsActive</td>
                    <td class="text-center">
                        <a class="btn btn-sm btn-info text-white" asp-action="Edit" asp-route-id="@genre.Id">Edit</a> |
                        <a class="btn btn-sm btn-secondary" asp-action="Details" asp-route-id="@genre.Id">Details</a> |
                        <a class="btn btn-sm btn-danger" asp-action="Delete" asp-route-id="@genre.Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
